branches/smartstep_under_construction/src/flight-ws/WebContent/WEB-INF/wsdl/flight-view.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:org:tripplanner:flight:view"
    xmlns:tns="urn:org:tripplanner:flight:view"
    elementFormDefault="qualified"
>

    <xsd:complexType name="ReservationVoucher">
        <xsd:sequence>
            <xsd:element name="reservationCode" type="xsd:string"/>
            <xsd:element name="flightNumber" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="reservationVoucher" type="tns:ReservationVoucher"/>

</xsd:schema>
