trunk/src_test/test-ws-handlers/HelloWS/src/xml/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="Hello"
             targetNamespace="http://hello"
             xmlns:tns="http://hello"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <!-- This file is not generated automatically -->

    <!-- # 1

         A WSDL file is better read from the end of the file upwards,
         so we suggest you read the explanation comments following the
         ordinal numbers #... sequence

         The XML namespaces definitions state which namespaces are being used and are their prefixes.

         The targetNamespace (prefix tns) is the namespace of the Web Service
         that is being defined by this WSDL document.

         This Web Service can produce two faults:
         nameMissing - when the client sends an empty name argument
         serviceError - when something abnormal happens during service execution
    -->

    <!-- #6
         types definitions

         This section contains a XML Schema Definition (XSD) that defines
         the data types used by the Web Service.

         Each fault message is defined by an element.
         Each fault element is defined by a complex type.
         Both complex types are empty, but they could contain sequences of elements
         with additional error data.
    -->
    <types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="http://hello">

            <xsd:complexType name="NameMissingType" />
            <xsd:element name="nameMissing" type="tns:NameMissingType" />

            <xsd:complexType name="ServiceErrorType" />
            <xsd:element name="serviceError" type="tns:ServiceErrorType" />

            <xsd:complexType name="SayHelloType">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sayHello" type="tns:SayHelloType" />

            <xsd:complexType name="SayHelloResponseType">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="sayHelloResponse" type="tns:SayHelloResponseType" />

        </xsd:schema>
    </types>

    <!-- #5
         message definitions

         Each fault must have its own message definition.
    -->
    <message name="sayHello">
            <part name="parameters" element="tns:sayHello" />
    </message>
    <message name="sayHelloResponse">
            <part name="result" element="tns:sayHelloResponse" />
    </message>
    <message name="serviceError">
        <part element="tns:serviceError" name="serviceError" />
    </message>
    <message name="nameMissing">
        <part element="tns:nameMissing" name="nameMissing" />
    </message>

    <!-- #4
         port type definitions

         Each port type operation must declare which faults it can produce.
    -->
    <portType name="HelloPortType">
        <operation name="sayHello">
            <input message="tns:sayHello" name="sayHello"/>
            <output message="tns:sayHelloResponse" name="sayHelloResponse"/>
            <fault message="tns:serviceError" name="serviceError"></fault>
            <fault message="tns:nameMissing" name="nameMissing"></fault>
        </operation>
    </portType>

    <!-- #3
         binding definitions

         The faults are bound to SOAP faults.
         The 'name' attribute is mandatory for faults.
    -->
    <binding name="HelloBinding" type="tns:HelloPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="sayHello">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="serviceError">
                <soap:fault use="literal" name="serviceError" />
            </fault>
            <fault name="nameMissing">
                <soap:fault use="literal" name="nameMissing" />
            </fault>
        </operation>
    </binding>

    <!-- #2
         service definition
    -->
    <service name="HelloService">
        <port name="HelloPort" binding="tns:HelloBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL" />
        </port>
    </service>

</definitions>
