trunk/src/mediator-web/src/mediator-view.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:org:tripplanner:mediator:view"
    xmlns:tns="urn:org:tripplanner:mediator:view"
    elementFormDefault="qualified"
>

    <xsd:complexType name="ReservationView">
        <xsd:sequence>
            <xsd:element name="reservationCode" type="xsd:string"/>
            <xsd:element name="clientId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="reservationView" type="tns:ReservationView"/>

</xsd:schema>
