src/flight-ws/WebContent/WEB-INF/wsdl/flight.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions name="Flight"
             targetNamespace="urn:step:example:flight:wsdl"
             xmlns:tns="urn:step:example:flight:wsdl"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <!-- This file is not generated automatically -->

    <types>
        <xsd:schema elementFormDefault="qualified"
                    targetNamespace="urn:step:example:flight:wsdl"
                    xmlns:ns1="urn:step:example:flight:view">

            <xsd:import namespace="urn:step:example:flight:view"
                        schemaLocation="flight-view.xsd"/>

            <xsd:complexType name="Passenger">
                <xsd:sequence>
                    <xsd:element name="name" type="xsd:string"/>
                    <xsd:element name="id" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="passenger" type="tns:Passenger"/>

            <xsd:complexType name="CreateReservation">
                <xsd:sequence>
                    <xsd:element name="departure" type="xsd:string"/>
                    <xsd:element name="arrival" type="xsd:string"/>
                    <xsd:element name="passenger" type="tns:Passenger" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="createReservation" type="tns:CreateReservation" />

            <xsd:complexType name="CreateReservationResponse">
                <xsd:sequence>
                    <xsd:element name="voucher" type="ns1:ReservationVoucher"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="createReservationResponse" type="tns:CreateReservationResponse" />

            <xsd:complexType name="ServiceError" />
            <xsd:element name="serviceError" type="tns:ServiceError" />

            <xsd:complexType name="FlightFault">
                <xsd:sequence>
                    <xsd:element name="faultType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="flightFault" type="tns:FlightFault" />

        </xsd:schema>
    </types>

    <message name="createReservation">
        <part name="parameters" element="tns:createReservation" />
    </message>
    <message name="createReservationResponse">
        <part name="result" element="tns:createReservationResponse" />
    </message>
    <message name="flightFault">
        <part name="fault" element="tns:flightFault" />
    </message>
    <message name="serviceError">
        <part name="fault" element="tns:serviceError" />
    </message>

    <portType name="FlightPortType">
        <operation name="createReservation">
            <input message="tns:createReservation" name="createReservation"/>
            <output message="tns:createReservationResponse" name="createReservationResponse"/>
            <fault message="tns:flightFault" name="flightFault"/>
            <fault message="tns:serviceError" name="serviceError"/>
        </operation>
    </portType>

    <binding name="FlightBinding" type="tns:FlightPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="createReservation">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="flightFault">
                <soap:fault name="flightFault" use="literal" />
            </fault>
            <fault name="serviceError">
                <soap:fault name="serviceError" use="literal" />
            </fault>
        </operation>
    </binding>

    <service name="FlightService">
        <port name="FlightPort" binding="tns:FlightBinding">
            <soap:address location="REPLACE_WITH_ACTUAL_URL" />
        </port>
    </service>

</definitions>
